@{
    ViewData["Title"] = "Login";
    <link rel="stylesheet" href="../Styles/Pages/Authentication.css" type="text/css" />
}

<div>
    <div class="title">
        <h1>Login</h1>
    </div>
    <form>
        <label> Nom</label>
        <input class="form-control" type="text" name="username" placeholder="ex:Soatiana" />
        <label> Mot de passe</label>
        <input class="form-control" type="password" name="password" placeholder="6 caractères min" />
        <button class="btn-dark form-control my-4">Se connecter</button>
    </form>

</div>